<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link th:href="@{/styles/global.css}" rel="stylesheet" />
    <title>KWIX LITE | Home</title>
  </head>
	<body>
		<nav></nav>
		<div class="content">
			<div>
				<h2>Dashboard</h2>
				<hr />
				<div class="sub-content">
					<h3>Welcome</h3>
					<p>
						KWIX is a payroll management system that I built to solve business problems for my client <em>Works of Art Construction LLC</em>.
						The client has multiple employees spread across multiple jobsites. They wanted an easy way to store:
					</p>
					<ul>
						<li>Employee Information</li>
						<li>Payroll Information</li>
						<li>Jobsite Information</li>
						<li>Paystub Information</li>
					</ul>
					<p>KWIX assisted my client in managing labor costs, jobsite costs, time worked per employee and across jobsites and more.</p>
					
					<h3>What is KWIX LITE?</h3>
					<p>
						KWIX LITE is a sandbox version of KWIX. It was designed to allow guest users to play around with KWIX in a sandbox environment.
						It is essentially a public demo that I can show off to new potential clients or recruiters who may be curious to see what I have built using springboot.
						Feel free to play around, but note that some features are disabled and all data is scoped to each user's session. 
						Once a user logs out or their session expires all of their data is destroyed.
					</p>
					<h3>Getting Started</h3>
					<p>
						When using KWIX on a fresh session it is recommended that you first create a jobsite, an employee and then you can create a paystub for an employee on the payroll page.
						Paystubs depend on employee and jobsites, as KWIX needs to know which employee the paystub will belong to and which jobsite/location the employee worked at.
						This was done at my client's request.
					</p>
					<p>
						For more info on how KWIX works, check out the <a href="/help">help</a> page.
					</p>
					
					<h3>Resources</h3>
					<a href="/help">Help</a>
					<a href="mailto:jakneeley@outlook.com">Contact</a>
				</div>
			</div>
		</div>
		<script th:src="@{/js/navComponent.js}"></script>
	</body>
</html>