<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link th:href="@{/styles/global.css}" rel="stylesheet" />
    <title>KWIX | Paystub Data Entry</title>
  </head>
  <body>
	<nav></nav>
	<div class="content">
		<a id="return-page" 
			th:attr="onclick=|returnToPage('${pageUtil.moveBackToPrev()}'); return true;|"
			class="arrow">←
		</a>
		<h2 th:text="'Paystub For ' + ${payrollCtrlr.formatedDate(paystub.dayWorked)} + ' | ' + ${paystub.fullName}"></h2>
		<hr />
		<div th:if="${userMessage}" th:utext="${userMessage}" ></div>
		<div class="form">
			<form method="post" th:action="@{/paystub/{id}(id=${paystub.paystubNum})}" th:object="${paystub}">
				<label>Employee ID:</label>
				<input id="employeeId" required readonly th:field="*{employeeId}" th:value="${paystub.employeeId}" type="text"/>
				<label>Full Name:</label>
				<input id="name" required readonly th:field="*{fullName}" th:value="${paystub.fullName()}" type="text"/>
				<label>Select Jobsite:</label>
				<select id="jobsite" th:field="*{jobsite}">
					<option th:each="siteOpt : ${jobsites}"
						th:value="${siteOpt}"
						th:text="${siteOpt}">
					</option>
				</select>
				<label>Pay:</label>
				<input id="pay" placeholder="$0.00" required th:field="*{pay}" th:value="'$' + ${paystub.pay}" type="text"/>
				<label>Hours Worked:</label>
				<input id="hours" placeholder="0 Hrs" required th:field="*{hoursWorked}" type="text"/>
				<label>Day:</label>
				<input id="day" placeholder="mm/dd/yyyy" required th:field="*{dayWorked}" type="text"/>
				<input id="activeFlg" type="hidden" th:field="*{active}" value ="true">
			    <input class="update btn-3" type="submit" value="Update"
						onclick="document.getElementById('activeFlg').value='true'">
				<input class="delete btn-3" type="submit" value="Delete"
						onclick="document.getElementById('activeFlg').value='false'">
			    <input class="btn-3" type="reset" value="Reset">
			</form>
		</div>
		<div>
			<p th:text="'Employee Pay For ' + ${payrollCtrlr.formatedDate(paystub.dayWorked)}"></p>
			<table>
				<tr class="header">
					<th>Employee</th>
					<th>Jobsite</th>
					<th>Pay</th>
					<th>Hours Worked</th>
					<th>Gross Pay</th>
				</tr>
				<tr>
					<td>
						<a th:href="@{/employee/{id}(id=${paystub.employeeId})}">
							<p th:text="${paystub.fullName()}"></p>
						</a>
					</td>
					<td th:text="${paystub.jobsite}"></td>
					<td th:text="${paystub.pay}"></td>
					<td th:text="${paystub.hoursWorked}"></td>
					<td th:text="'$' + ${payrollCtrlr.roundMoney(paystub.hoursWorked * paystub.pay)}"></td>
				</tr>
			</table>
		</div>	
	</div>
	<script th:src="@{/js/navComponent.js}"></script>
	<script th:src="@{/js/handleReturn.js}"></script>
  </body>
</html>