html { 
    width: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* page */
body {
    background-color: white;
    color: black;
    font-size: 15px;
    line-height: 1.6;
    margin: 0 auto;
    min-width: 320px;
}

hr {
    color: #009142;
}

h2 { 
    display: inline;
}

.content {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
}

.msg {
    width: 100%;
    height: auto;
}

.error {
    color: #990000;
    background-color: #ff8080;
}

.error a {
    float: right;
    margin-right: 5px;
}

.error a:hover {
    cursor:pointer;
}

.error ul {
    margin: .25rem;
    list-style-type: square;
    list-style-position: inside;
}

.error-field {
    border-color: #cc0000;
    background-color: #ff8080;
    color: #cc0000;
}

/* nav */
nav {
    background-color: #009142;
    padding: 50px 0 10px 0;
    margin: 0;
    width: 100%;
}

nav a {
    color: white;
    text-shadow: 1px 1px 0 #444;
    padding: 1rem;
    font-size: 20px;
    display: inline-block;
	text-decoration:underline;
}

.sub-content {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f2f2f2;
    max-width: 1000px;
    width: 90%;
    height: auto;
    border: 2px solid darkgray;
}

.scroll {
    overflow-y: auto;
}

.help-sub-content {
    display: block;
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 100%;
    max-height: 700px;
    height: auto;
    overflow-y: auto;
    border: 2px solid darkgray;
}

.help-imgs{
	max-width:80%;
	height:auto;
}

/* links */
a { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

.arrow {
    font-size: 30px;
    text-decoration: none;
    color: #04aa6d;
}

.smaller { 
    font-size: 20px; 
}

.arrow:hover {
    color: #039660;
    cursor:pointer;
}

.del {
    float: right;
    padding: .25rem 1rem 0 1rem;
}

.right {
    float: right;
}

/* form */
.form {
    display: block;
    margin: 25px auto;
    padding: 2rem;
    background-color: #f2f2f2;
    max-width: 500px;
    width: 90%;
    height: auto;
    border: 2px solid darkgray;
}

select {
    display: block;
    padding: 2px 0;
    width: 100%;
}

.radios input {
	display:inline;
	width: auto !important;
	height: 20px;
    font-size: 15px;
	vertical-align:middle;
	margin-bottom:1rem;
}

.radios label {
    display:inline !important;
	padding-left:1.25rem;
}

/* buttons */
.checkboxes input {
    display:inline;
	width: auto !important;
	height: 20px;
    font-size: 15px;
	vertical-align:middle;
}

.checkboxes label{
	padding-left: 1.25rem;
}

input {
    display: block;
    width: 100%;
    font-size: 15px;
}

input [type=radio]{
	display:inline;
		width: auto !important;
		height: 20px;
	    font-size: 15px;
		vertical-align:middle;
}

button {
    border: 1px solid;
    border-radius: 10px;
    height: 30px;
    min-width: 75px;
}

button:hover { 
    cursor: pointer; 
} 

.btn-3 {
    display: inline-block;
    width: auto;
    min-width: 25%;
    margin: 10px 15px;
    border: 1px solid;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
}

.btn {
    display: inline-block;
    width: auto;
    min-width: 25%;
    margin: 10px 15px;
    border: 1px solid;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    padding: 0 5px;
}

.search-btn {
    margin: 10px !important;
}

.search-fields div label {
    display: block;
}

.search-fields div input {
    width: 66%;
    display: inline;
}

.search-fields div button {
    display: inline;
}

.btn:hover { 
    cursor: pointer; 
}

.btn-3:hover { 
    cursor: pointer; 
}

.add {
    color: white;
    background-color: #04aa6d;
    border: 2px solid #04aa6d;
    text-shadow: 1px 1px 0 #444;
}

.add:hover { 
    background-color: #009142;
}

.update {
    color: hsl(0, 0%, 95%);
    background-color: #4da9ff;
    border: 2px solid #4da9ff;
    text-shadow: 1px 1px 0 #444;
}

.update:hover { 
    background-color: #1a90ff; 
    border-color: #4da9ff;
}

.restore {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #04aa6d;
    border: 2px solid #04aa6d;
    text-shadow: 1px 1px 0 #444;
}

.restore:hover { 
    background-color: #009142; 
}

.delete {
    color: white;
    border: 3px solid #cc2900;
    background-color: #cc2900;
    text-shadow: 1px 1px 0 #444;
}

.delete:hover { 
    background-color: #b32400; 
    border-color: #cc2900; 
}

.exp {
    color: hsl(0, 0%, 95%);
    background-color: #4da9ff;
    border: 2px solid #4da9ff;
    text-shadow: 1px 1px 0 #444;
    float: right;
    width: auto;
    min-width: 100px;
    height: 30px;
}

.exp:hover { 
    background-color: #1a90ff; 
    border-color: #4da9ff; 
}

/* tables */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 35px 0;
    table-layout: auto;
}

th, tr {
    border: 1px solid;
    padding-left: 5px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding-left: 1px;
    text-align: left;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-td { 
    text-align: center; 
}

.edit {
    font-size: 25px;
    padding: 0 5px;
    color: #04aa6d;
    text-decoration: none;
}

.edit:hover { 
    background-color: #05774d; 
    color: white; 
}

.help-tb, .help-tb tbody, .help-tb tr, .help-tb td, .help-tb th {
    border: none !important;
    margin: 0 !important;
}

.help-txt{
	max-width: 95%;
	margin: 0 auto;
}

.toc {
    width: 100%;
    float: left;
}

.l-col {
    width: 20%;
    vertical-align: top;
}

.r-col {
    width: 80%;
}

.header {
    color: white;
    background-color: #04aa6d;
    border: 2px solid #04aa6d;
    text-shadow: 1px 1px 0 #444;
}

.filter-fields input, 
.filter-fields label {
    display: inline;
}

.filter-fields input {
    width: 100px;
}

.date {
    width: 75px !important;
}

.header{
	color: white;
	background-color: #04aa6d;
	border: 2px solid #04aa6d;
	text-shadow: 1px 1px 0 #444;
}

.filter-fields input, label {
	display: inline;
}

.filter-fields input {
	width: 100px;
}

.date  {
	width: 75px !important;
}


/* top button */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #04aa6d;
    color: white;
    text-shadow: 1px 1px 0 #444;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    width: 60px;
    height: auto;
}
  
#topBtn:hover {
    background-color: #05774d;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    .sub-content {
        width: 95%;
        max-width: 900px;
    }
    
    .l-col {
        width: 25%;
    }
    
    .r-col {
        width: 75%;
    }
}

@media only screen and (max-width: 992px) {
    nav a {
        padding: 0.75rem;
        font-size: 18px;
    }
    
    .form {
        max-width: 90%;
    }
    
    .btn, .btn-3 {
        width: auto;
        min-width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        max-width: 95%;
    }
    
    .sub-content {
        padding: 1.5rem;
    }
    
    nav {
        padding: 30px 0 10px 0;
    }
    
    nav a {
        padding: 0.5rem;
        font-size: 16px;
    }
    
    .l-col {
        width: 30%;
    }
    
    .r-col {
        width: 70%;
    }
    
    .btn, .btn-3 {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    
    .exp {
        float: none;
        display: block;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 576px) {
    .l-col {
        width: 100%;
        display: block;
    }
    
    .r-col {
        width: 100%;
        display: block;
    }
    
    .help-sub-content {
        height: auto;
        max-height: 500px;
    }
    
    #topBtn {
        width: 50px;
        padding: 10px;
        font-size: 16px;
    }
}